<div class="post-list-container">
    @for (post of posts; track post.id; let first = $first) {

    <div class="single-post">
        <h3>{{post.caption}}</h3>
        <img [ngSrc]="post.image" width="800" height="500" alt="Post image" [priority]="first">
        <p>postId: {{post.id}}</p>
        <p>authorId: {{post.authorId}}</p>
        <p>likes: {{post.likes}}</p>
        <p>reposts: {{post.reposts}}</p>
        <p>isLiked: {{post.isLiked}}</p>
        <p>isReposted: {{post.isReposted}}</p>
    </div>
    }

</div>