@if (post(); as currentPost) {

<article class="post-card">

  <header class="post-header">
    <div>
      <strong>@{{ author()?.username }}</strong>
      <p>followers: {{author()?.followers}}</p>
      <button (click)="toggleFollow()">{{author()?.isFollowed ? 'Following' : 'Follow' }}</button>
      <p>score: {{this.engagementScore()}}</p>
    </div>
    <div>
      <p>Post #{{ currentPost.id }}</p>
    </div>

  </header>

  <img [ngSrc]="currentPost.image" width="800" height="500" alt="Post image" [priority]="isFirst()">

  <section class="post-content">


    @if (isAdminOn()) {
    <h3><input type="text" value="{{currentPost.caption}}" (input)="captionChangeEvent($event)"></h3>
    } @else {
    <h3>{{ currentPost.caption }}</h3>
    }

    <div class="post-stats">
      <span><button (click)="toggleLike()">❤️</button> {{ currentPost.likes }}</span>
      <span><button (click)="toggleRepost()">🔁</button> {{ currentPost.reposts }}</span>
    </div>

    <div class="post-status">
      <span>Liked: {{ currentPost.isLiked }}</span>
      <span>Reposted: {{ currentPost.isReposted }}</span>
    </div>

  </section>

</article>

}